<section class="breadcrumbs-wrapper pt-50 pb-50 bg-primary-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="breadcrumbs-style breadcrumbs-style-1 d-md-flex justify-content-between align-items-center"
        >
          <div class="breadcrumb-left">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Cart Page
              </li>
            </ol>
          </div>
          <div class="breadcrumb-right">
            <h5 class="heading-5 font-weight-500">Cart Page</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="checkout-wrapper pt-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="checkout-style-1">
          <div class="checkout-table table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="product">Product</th>
                  <th class="quantity">Quantity</th>
                  <th class="price">Price</th>
                  <th class="action">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="product-cart d-flex">
                      <div class="product-thumb">
                        <img
                          src="assets/images/product-cart/product-1.png"
                          alt="Product"
                        />
                      </div>
                      <div class="product-content media-body">
                        <h5 class="title">
                          <a href="product-details-page.html">Hollow Port</a>
                        </h5>
                        <span>UG 0123</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="product-quantity d-inline-flex">
                      <button type="button" id="sub" class="sub">
                        <i class="mdi mdi-minus"></i>
                      </button>
                      <input type="text" value="0" />
                      <button type="button" id="add" class="add">
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <p class="price">$36.00</p>
                  </td>
                  <td>
                    <ul class="action">
                      <li>
                        <a class="favorite" href="javascript:void(0)"
                          ><i class="mdi mdi-heart-outline"></i
                        ></a>
                      </li>
                      <li>
                        <a class="delete" href="javascript:void(0)"
                          ><i class="mdi mdi-delete"></i
                        ></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="product-cart d-flex">
                      <div class="product-thumb">
                        <img
                          src="assets/images/product-cart/product-2.png"
                          alt="Product"
                        />
                      </div>
                      <div class="product-content media-body">
                        <h5 class="title">
                          <a href="product-details-page.html">Hollow Port</a>
                        </h5>
                        <span>UG 0123</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="product-quantity d-inline-flex">
                      <button type="button" id="sub" class="sub">
                        <i class="mdi mdi-minus"></i>
                      </button>
                      <input type="text" value="0" />
                      <button type="button" id="add" class="add">
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <p class="price">$36.00</p>
                  </td>
                  <td>
                    <ul class="action">
                      <li>
                        <a class="favorite" href="javascript:void(0)"
                          ><i class="mdi mdi-heart-outline"></i
                        ></a>
                      </li>
                      <li>
                        <a class="delete" href="javascript:void(0)"
                          ><i class="mdi mdi-delete"></i
                        ></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="product-cart d-flex">
                      <div class="product-thumb">
                        <img
                          src="assets/images/product-cart/product-3.png"
                          alt="Product"
                        />
                      </div>
                      <div class="product-content media-body">
                        <h5 class="title">
                          <a href="product-details-page.html">Hollow Port</a>
                        </h5>
                        <span>UG 0123</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="product-quantity d-inline-flex">
                      <button type="button" id="sub" class="sub">
                        <i class="mdi mdi-minus"></i>
                      </button>
                      <input type="text" value="0" />
                      <button type="button" id="add" class="add">
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <p class="price">$36.00</p>
                  </td>
                  <td>
                    <ul class="action">
                      <li>
                        <a class="favorite" href="javascript:void(0)"
                          ><i class="mdi mdi-heart-outline"></i
                        ></a>
                      </li>
                      <li>
                        <a class="delete" href="javascript:void(0)"
                          ><i class="mdi mdi-delete"></i
                        ></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="product-cart d-flex">
                      <div class="product-thumb">
                        <img
                          src="assets/images/product-cart/product-4.png"
                          alt="Product"
                        />
                      </div>
                      <div class="product-content media-body">
                        <h5 class="title">
                          <a href="product-details-page.html">Hollow Port</a>
                        </h5>
                        <span>UG 0123</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="product-quantity d-inline-flex">
                      <button type="button" id="sub" class="sub">
                        <i class="mdi mdi-minus"></i>
                      </button>
                      <input type="text" value="0" />
                      <button type="button" id="add" class="add">
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </div>
                  </td>
                  <td>
                    <p class="price">$36.00</p>
                  </td>
                  <td>
                    <ul class="action">
                      <li>
                        <a class="favorite" href="javascript:void(0)"
                          ><i class="mdi mdi-heart-outline"></i
                        ></a>
                      </li>
                      <li>
                        <a class="delete" href="javascript:void(0)"
                          ><i class="mdi mdi-delete"></i
                        ></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div
            class="checkout-coupon-total checkout-coupon-total-2 d-flex flex-wrap"
          >
            <div class="checkout-coupon">
              <span>Apply Coupon to get discount!</span>
              <form action="#" class="has-validation-callback">
                <div class="single-form form-default d-flex">
                  <div class="form-input form">
                    <input type="text" placeholder="Coupon Code" />
                  </div>
                  <button class="main-btn primary-btn">Apply</button>
                </div>
              </form>
            </div>
            <div class="checkout-total">
              <div class="single-total">
                <p class="value">Subtotal Price:</p>
                <p class="price">$144.00</p>
              </div>
              <div class="single-total">
                <p class="value">Shipping Cost (+):</p>
                <p class="price">$10.50</p>
              </div>
              <div class="single-total">
                <p class="value">Discount (-):</p>
                <p class="price">$10.50</p>
              </div>
              <div class="single-total total-payable">
                <p class="value">Total Payable:</p>
                <p class="price">$165.00</p>
              </div>
            </div>
          </div>
          <div class="checkout-btn d-sm-flex justify-content-between">
            <div class="single-btn">
              <a href="javascript:void(0)" class="main-btn primary-btn-border"
                >continue shopping</a
              >
            </div>
            <div class="single-btn">
              <a href="checkout-page.html" class="main-btn primary-btn"
                >Pay now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
