<!--<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect username or password
</div>
<form
  #loginForm="ngForm"
  class="col s12 white"
  (ngSubmit)="OnSubmit(email.value, Password.value)"
>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input
        type="text"
        #email
        ngModel
        name="email"
        placeholder="email"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input
        type="password"
        #Password
        ngModel
        name="Password"
        placeholder="Password"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button
        [disabled]="!loginForm.valid"
        class="btn-large btn-submit"
        type="submit"
      >
        Login
      </button>
    </div>
  </div>
</form>-->

<section class="breadcrumbs-wrapper pt-50 pb-50 bg-primary-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="breadcrumbs-style breadcrumbs-style-1 d-md-flex justify-content-between align-items-center"
        >
          <div class="breadcrumb-left">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Sign in
              </li>
            </ol>
          </div>
          <div class="breadcrumb-right">
            <h5 class="heading-5 font-weight-500">Sign in</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="login-registration-wrapper pt-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="login-registration-style-2 mt-50">
          <div *ngIf="isLoginError" class="red-text center error-message">
            <i class="material-icons">error</i> Incorrect username or password
          </div>
          <h1 class="heading-4 font-weight-500 title">Login</h1>
          <div class="login-registration-form pt-10">
            <form
              class="has-validation-callback"
              #loginForm="ngForm"
              (ngSubmit)="OnSubmit(email.value, Password.value)"
            >
              <div class="single-form form-default form-border">
                <label>Email Address</label>
                <div class="form-input">
                  <input
                    type="email"
                    #email
                    ngModel
                    name="email"
                    placeholder="email"
                    required
                  />
                  <i class="mdi mdi-email"></i>
                </div>
              </div>
              <div class="single-form form-default form-border">
                <label>Your Password</label>
                <div class="form-input">
                  <input
                    id="password-7"
                    #Password
                    ngModel
                    name="Password"
                    placeholder="Password"
                    required
                  />
                  <i class="mdi mdi-lock"></i>
                  <span
                    toggle="#password-7"
                    class="mdi mdi-eye-outline toggle-password"
                  ></span>
                </div>
              </div>
              <div
                class="login-checkbox-forget d-sm-flex justify-content-between align-items-center"
              >
                <div class="single-checkbox checkbox-style-3">
                  <input type="checkbox" id="login-7" />
                  <label for="login-7"><span></span> </label>
                  <p>Remember Me</p>
                </div>
                <a class="forget" href="#">Forget Password?</a>
              </div>
              <div class="single-form">
                <button
                  class="main-btn primary-btn"
                  [disabled]="!loginForm.valid"
                  type="submit"
                >
                  Sign in
                </button>
              </div>
            </form>
          </div>
          <div class="text-center">
            <p class="login">
              Don’t have an account? <a href="signup-page.html">Sign up</a>
            </p>
            <p class="account mt-25">Or</p>
            <ul>
              <li>
                <a
                  href="javascript:void(0)"
                  class="facebook-login-registration"
                >
                  <i class="lni lni-facebook-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" class="google-login-registration">
                  <img src="assets/images/google-logo.svg" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
